<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="text-center">Editar Libro</h2>
    <%= render 'form', book: @book %>
    <%= link_to 'Volver', my_books_books_path, class: 'btn btn-default' %>
  </div>
</div>
